.g-task-list-search-status
  margin-bottom 10px

.g-task-list-tag
  font-size 100%
  font-weight normal
  color #808080
  background-color #f4f4f4

.g-task-list-task-items
  .g-task-list-item-tag-container
    margin-top 5px

  .g-task-list-task-items-footer
    padding 5px 15px
    font-size 12px
    color #aaa
    background-color #fff
    user-select none
